<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Leaf"
    Manufacturer="Leaf"
    Language="1033"
    Version="$(var.MsiVersion)"
    UpgradeCode="e877b79c-a937-404b-98cd-5cfe3bae46fa">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="LeafIcon" SourceFile="$(var.SourceRoot)\\src\\Leaf\\Assets\\Leaf.ico" />
    <Property Id="ARPPRODUCTICON" Value="LeafIcon" />
    <Property Id="ARPSYSTEMCOMPONENT" Value="0" />
    <Property Id="MSIINSTALLPERUSER" Value="0" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Leaf" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="LeafStartMenuFolder" Name="Leaf" />
      </Directory>
    </Directory>

    <DirectoryRef Id="LeafStartMenuFolder">
      <Component Id="AppShortcut" Guid="*">
        <Shortcut
          Id="StartMenuShortcut"
          Name="Leaf"
          Target="[INSTALLFOLDER]Leaf.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="LeafIcon"
          Advertise="no" />
        <RemoveFolder Id="RemoveLeafStartMenuFolder" Directory="LeafStartMenuFolder" On="uninstall" />
        <RegistryValue Root="HKLM" Key="Software\Leaf" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="Leaf" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="AppShortcut" />
    </Feature>
  </Product>
</Wix>
